nav
  min-height: 45px
  display: flex
  justify-content: center
  position: relative

  .cart-label
    position: absolute
    right: 1.2rem
    top: 50%
    transform: translateY(-50%)
    cursor: pointer

  .nav-item
    font-size: 14px
    font-weight: 400
    margin: 0 0.5rem
    display: flex
    align-items: center
    justify-content: center
    letter-spacing: 1px
    flex-direction: column
    position: relative

    .nav-label
      transition: all .8s ease
      padding: 0 1rem
      position: relative
      display: flex

      .chevron
        width: 0.8rem
        position: relative
        margin-left: 0.25rem
        transition: transform .5s ease

    .subcollection-container
      width: 100%

      .subcollection
        overflow: hidden
        max-height: 0
        z-index: 1
        min-width: 100%
        position: absolute
        background-color: white

        .sublink-item
          margin: 1rem
          font-size: 0.7rem

    &:hover .chevron
      transform: rotate(180deg)

    &:hover .nav-label
      font-size: 1rem

    &:hover .subcollection
      max-height: 500px
      transition: max-height 0.8s linear
