#product
  display: flex
  justify-content: center

  #quantity
    max-width: 120px
    margin-right: 22px

  #details
    width: 25%

  #image-container
    width: 50%
    max-width: 591px
    padding: -50%

    img
      max-height: 591px
      max-width: 591px

  #variant-selection-container
    width: 25%
    display: flex
    justify-content: center

    #variant-selection
      #price
        font-size: 84px
        font-family: serif
        font-weight: 300

      #compare-price
        text-decoration: line-through;

      .variant-img-container
        display: inline-block
        cursor: pointer
        margin-right: 22px

        img
          width: 90px
          height: 90px
